/* CSS color pallet from https://coolors.co/022b3a-1f7a8c-bfdbf7-e1e5f2-ffffff */
:root {
    --dark: #022b3aff;
    --dark-med: #1f7a8cff;
    --med: #bfdbf7ff;
    --med-light: #e1e5f2ff;
    --light: #ffffffff;
    --box-default: 0 10px 20px var(--dark), 0 6px 6px var(--dark);
}

body {
    background-color:var(--med);
    font-family: Avenir Next,Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    height: 100%;
}

.main-card {
    border: 1px solid var(--dark);
    background-color: var(--med-light);
    border-radius: 10px;
    padding: 10px;
    margin: 0 auto;
    margin-top: 20px;
    width: 50%;
    box-shadow: var(--box-default);
    word-wrap: break-word;
}

.btn {
    background-color: var(--dark-med);
    color: var(--light);
    border: 1px solid var(--dark);
    border-radius: 3px;
    padding: 5px;
    margin-top: 20px;
    cursor: pointer;
    box-shadow: var(--box-default);
    outline:none;
}

.btn:hover {background-color: var(--dark)}

.btn:active {

  box-shadow: 0 5px 20px var(--dark), 0 6px 6px var(--dark);
  transform: translateY(4px);
}

.btn-center {
    margin: 0 auto;
    display: block;
}

.center-text {
    text-align: center;
}

.footer {
    text-align: center;
    margin: 30px auto 10px auto;
}

nav {
    overflow: hidden;
    position: fixed;
    top: 0;
    box-shadow: var(--box-default);
    height: 100%;
    background-color: var(--med-light);
}

nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

nav > ul > li a {
  display: block;
  color: var(--dark);
  padding: 8px 16px;
  text-decoration: none;
  text-align: center;
}

nav > ul > li svg {
    display: block;
    margin: auto;
}

nav > ul > li a:hover {
  background-color: var(--dark-med);
  color: var(--light);
}